<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <title>Todos</title>
  </head>
  <body>
    <h1>Bookstore</h1>
    <div>
      <table>
        <thead>
          <tr>
            <th>NAME</th>
            <th>Author</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% bookList.map(book => { %>
            <tr>
              <td><%= book['book_name'] %></td>
              <td><%= book['aut_name'] %></td>
              <td><%= book['cate_descrip'] %></td>
              <td><%= book['pub_name'] %></td>
              <td>$<%= book['book_price'] %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
